.login-heading {
  font-weight: 300;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.SignInMainPage {
  height: 450px;
  align-items: center;
}

@media (min-width: 600px) {
  .SignInMainPage {
    height: 550px;
  }
}

/* .SignInMain {
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  font-weight: bold;
}



.SignInLabel {
  font-size: 4em;
  line-height: 100px;
}

.SignInColor {
  color: #052b12;
}

.SignIn-TextBox {
  height: 3rem;
  width: 20rem;
  background-color: #052b12;
  border: 0;
}

::placeholder {
  color: white;
  opacity: 1;
  letter-spacing: 2px;
  font-size: 12px;
  font-family: "Lexend Deca";
  font-weight: bold;
}

.ForgotPassword {
  margin-left: 4rem;
}

.SignInButton {
  background-color: #052b12;
  border: 0;
  width: 6rem;
}

@media (min-width: 600px) {
  .SignIn-TextBox {
    width: 30rem;
  }

  .ForgotPassword {
    margin-left: 12rem;
  }

  .SignInButton {
    width: 8rem;
  }

  .ml4 {
    margin-left: 3rem !important;
  }

  .MainPage {
    height: 500px;
  }
} */
